#root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --base-font-size: 10px;
}
html {
  font-size: var(--base-font-size);
}
body {
  max-width: 90%;
  margin: auto;
  background-image: linear-gradient(#1687ed, #14375a);
  background-image: url("./pexels-alex-qian-2304791.jpg");
  background-position: cover;
  background-repeat: no-repeat;
  background-position: bottom right;
}
q {
  max-width: calc(100% / 2);
  margin: 80px auto;
  display: block;
  transform: scale(1.6);
  background-color: #f3eeee;
  border-left: 3px solid firebrick;
  padding-left: 30px;
}
.good {
  font-style: normal;
}

.bad {
  font-style: normal;
}
p {
  font-family: "Lora", serif;
  word-spacing: 0.2em;
  font-size: 1.2rem;
}
a {
  text-decoration: none;
  color: black;
  background-color: aqua;
  padding: 0.8rem 1rem;
  margin: 2%;
}
a:hover {
  transition: 1s;
  box-shadow: inset 1em 6em 6em black;
  color: aqua;
}
a:visited {
  color: red;
}
