/* TO DO 
- corriger l'exo des liens
- maybe
*/

#root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --base-font-size: 10px;
}
html {
  font-size: var(--base-font-size);
}
body {
  max-width: 90%;
  margin: auto;
  background-image: linear-gradient(#1687ed, #14375a);
  background-image: url("./pexels-alex-qian-2304791.jpg");
  background-position: cover;
  background-repeat: no-repeat;
  background-position: bottom right;
}
header h1:nth-child(1) {
  background-color: yellow;
}

q {
  max-width: calc(100% / 2);
  margin: 80px auto;
  display: block;
  transform: scale(1.6);
  background-color: #f3eeee;
  border-left: 3px solid firebrick;
  padding-left: 30px;
}
.good,
.bad {
  font-weight: 400;
}
.bad {
  color: red;
}
.good {
  color: green;
}
strong {
  font-style: normal;
}
p {
  font-family: "Lora", serif;
  word-spacing: 0.2em;
  font-size: 1.2rem;
}
a {
  text-decoration: none;
  color: black;
  background-color: aqua;
  padding: 0.8rem 1rem;
  margin: 2%;
}
a:hover {
  transition: 1s;
  box-shadow: inset 1em 6em 6em black;
  color: aqua;
}
a:visited {
  color: red;
}
.villagers {
  border-color: yellow;
}
.farmer {
  border-color: pink;
}
blockquote {
  font-style: italic;
}

tr:nth-child(odd) {
  background-color: white;
}
tr:nth-child(even) {
  background-color: rgb(126, 221, 126);
}
tr:nth-child(2) td:nth-child(2) {
  background-image: url("./bien.png");
  background-repeat: no-repeat;
  margin: auto;
  background-position: center center;
  padding: 10%;
}
tr:nth-child(3) td:nth-child(2) {
  background-image: url("./mal.png");
  background-repeat: no-repeat;
  margin: auto;
  background-position: center center;
  padding: 10%;
}
tr:nth-child(4) td:nth-child(2) {
  background-image: url("./chat.png");
  background-repeat: no-repeat;
  margin: auto;
  background-position: center center;
  padding: 10%;
}
.bold {
  font-weight: 700;
}
